@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 243 100% 98.26%;
    --foreground: 243 10% 0.52%;

    --muted: 243 10% 91.3%;
    --muted-foreground: 243 5% 41.3%;

    --popover: 243 10% 91.3%;
    --popover-foreground: 243 10% 0.65%;

    --card: 243 10% 91.3%;
    --card-foreground: 243 10% 0.65%;

    --border: 243 15% 89.52%;
    --input: 243 15% 89.52%;

    --primary: 243 100% 13%;
    --primary-foreground: 243 2% 91.3%;

    --secondary: 243 5% 95.65%;
    --secondary-foreground: 243 7% 11.3%;

    --accent: 243 5% 95.65%;
    --accent-foreground: 243 7% 11.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 243 100% 13%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 208 49.4% 2.48%;
    --foreground: 208 7.6% 96.55%;

    --muted: 208 38% 9.3%;
    --muted-foreground: 208 7.6% 53.1%;

    --popover: 208 49.8% 4.03%;
    --popover-foreground: 208 7.6% 96.55%;

    --card: 208 49.8% 4.03%;
    --card-foreground: 208 7.6% 96.55%;

    --border: 208 38% 9.3%;
    --input: 208 38% 9.3%;

    --primary: 208 76% 31%;
    --primary-foreground: 208 7.6% 96.55%;

    --secondary: 208 38% 9.3%;
    --secondary-foreground: 208 7.6% 96.55%;

    --accent: 208 38% 9.3%;
    --accent-foreground: 208 7.6% 96.55%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 208 7.6% 96.55%;

    --ring: 208 76% 31%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
